{erl_opts, [{parse_transform, lager_transform}]}.

{sub_dirs, []}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [{src_dirs,["src"]}]}.

{deps, [
       {bkdcore, ".*", {git, "https://github.com/biokoda/bkdcore.git", {branch, "master"}}},
       {actordb_driver,".*",{git,"https://github.com/biokoda/actordb_driver.git",{tag,"0.10.15"}}},
       {actordb_thrift,".*",{git,"https://github.com/biokoda/actordb_thrift.git",{tag,"0.10.14"}}},
       {actordb_http,".*",{git,"https://github.com/biokoda/actordb_http.git",{branch,"master"}}},
       {yamerl,".*",{git,"https://github.com/yakaz/yamerl.git",{branch,"master"}}},
       {emurmur3,".*",{git,"https://github.com/SergejJurecko/emurmur3.git",{branch,"master"}}},
       {folsom,".*",{git,"https://github.com/boundary/folsom.git",{branch,"master"}}}
       ]}.
