{erl_opts, [{parse_transform, lager_transform}]}.

{sub_dirs, []}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [{src_dirs,["src"]}]}.

{deps, [
	{bkdcore, ".*", {git, "https://github.com/setexams/bkdcore.git", {branch, "0.10.30"}}},
		{actordb_driver,".*",{git,"https://github.com/setexams/actordb_driver.git",{branch,"0.10.30"}}},
		{actordb_thrift,".*",{git,"https://github.com/setexams/actordb_thrift.git",{branch,"0.10.30"}}},
		{emurmur3,".*",{git,"https://github.com/setexams/emurmur3.git",{branch,"0.10.30"}}}
]}.

{relx, [{release, {actordb, "0.10.30"},
	[actordb_core, bkdcore, actordb_driver, actordb_thrift, emurmur3]},
	{dev_mode, false},
	{include_erts, true},
{include_src, false},
	{vm_args, "etc/vm.args"},
	{sys_config, "etc/app.config"},
	{extended_start_script, true}]}.
