{erl_opts, [{parse_transform, lager_transform}]}.

{sub_dirs, []}.

{require_otp_vsn, "R16|R15"}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info,{src_dirs,["src"]}]}.

{deps, [
       {lager, "2.0.0", {git, "git://github.com/basho/lager", {tag, "2.0.0"}}},
       {lager_syslog, "2.0.0", {git, "git://github.com/basho/lager_syslog", {tag, "2.0.0"}}},
       {bkdcore, ".*", {git, "https://github.com/biokoda/bkdcore.git", {branch, "master"}}},
       {esqlite,".*",{git,"https://github.com/SergejJurecko/esqlite.git",{branch,"master"}}},
       {yamerl,".*",{git,"https://github.com/yakaz/yamerl.git",{branch,"master"}}}
       ]}.
